art_nft8/river_primes_main.txt
art_nft8/river_primes_sterile.txt
art_nft8/hunt47
art_nft8/perm
art_nft8/perm2
art_nft8/perm3
art_nft8/perm4
art_nft8/pool
art_nft8/march
art_nft8/river
art_nft8/occup
art_nft8/occup2
